body{
  background-color: rgb(245, 248, 255);
}

.new-post{
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.new-post header, .post header {
  margin-bottom: 20px;
}

.posts .post{

  background-color: #fff;
  padding-left: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 2px;
  }

.posts .post .info {
  color: #aaa;
  font-style: italic;
  align-content: flex-end;

}
